.menu-link__nav {
  inline-size: 25rem;
  max-inline-size: 25rem;
  block-size: calc(100vh - 4rem);
  max-block-size: calc(100vh - 4rem);
  background: var(--color-secondary);
  border: 0.4rem solid var(--color-primary_darker);
  overflow: hidden;
}
